.frase {
  font-size: 1.2rem;
  color: #3a3a3a;
  font-style: italic;
}

.autor {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.fab-add ion-icon {
  font-size: 26px;
  color: white;
}